{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Регистрация" %}{% endblock %}
{% block content %}
        <h1 class="text-center">{% trans "Регистрация" %}</h1>
        <form action="{% url 'accounts:create' %}" method="post">
            {% include "partial/form.html" %}
            <button type="submit" class="btn btn-primary">{% trans "Зарегистрироваться" %}</button>
        </form>
{% endblock %}
