{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if user.pk == user_obj.pk %}
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:update" user_obj.pk %}">Редактировать</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:password_change" user_obj.pk %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="text-center">Личный кабинет</h1>
    <div class="row">
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
            {% if user_obj.profile.avatar %}
                <img src="{{ user_obj.profile.avatar.url }}" class="img-fluid" alt="{{ user_obj.username }}">
            {% endif %}
            <div class="mt-3">
                <p><b>Имя пользователя:</b> {{ user_obj.username }}</p>
                <p><b>Имя:</b> {{ user_obj.first_name }}</p>
                <p><b>Фамилия:</b> {{ user_obj.last_name }}</p>
                <p><b>Дата рождения:</b> {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
                <p><b>Почта:</b> {{ user_obj.email }}</p>
            </div>
        </div>
    </div>
    {% if request.user == user_obj %}
        <h2>Избранное</h2>
        <div class="row">
            {% for favorite in user_obj.favorites.all %}
                <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                    {% include "partial/product_card.html" with product=favorite.product %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
