{% load is_favorite %}
<div id="favorites-button-{{ product.pk }}" class="mt-2">
    {% with favorite=product|is_favorite:request.user %}
        <a href="{% url "webapp:add_to_favorites" %}"
           id="add-to-favorites-{{ product.pk }}"
           class="btn btn-success favorites-add
                  {% if favorite %}d-none{% endif %}"
           data-product-pk="{{ product.pk }}">Добавить в избранное</a>
        <a href="{% url "webapp:delete_from_favorites" %}"
           id="delete-from-favorites-{{ product.pk }}"
           class="btn btn-danger favorites-delete
                 {% if not favorite %}d-none{% endif %}"
           data-product-pk="{{ product.pk }}">Удалить из избранного</a>
    {% endwith %}
</div>
