{% load i18n %}
<div class="card" id="product-{{ product.pk }}">
    {% if product.photo %}
        <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        {% with price=product.price category=product.get_category_display %}
            <p class="card-text">{% blocktrans %}Инфо: {{ category }} | {{ price }} сом{% endblocktrans %}</p>
        {% endwith %}
        <div>
            <a href="{% url "webapp:product_detail" product.pk %}"
               class="btn btn-primary">Посмотреть</a>
            <a href="{% url 'webapp:basket_change' %}?pk={{ product.pk }}&action=add" class="btn btn-primary mt-lg-2">В корзину</a>
        </div>
        {% if request.user.is_authenticated %}
            {% include 'partial/favorites_buttons.html' %}
        {% endif %}
    </div>
</div>