{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'webapp:index' %}" class="nav-link">На главную</a></li>
            {% if perms.webapp.add_product %}
                <li class="nav-item"><a href="{% url 'webapp:product_create' %}" class="nav-link">Добавить товар</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'webapp:order_list' %}" class="nav-link">Заказы</a></li>
            {% endif %}
            {% if perms.webapp.add_order %}
                <li class="nav-item"><a href="{% url 'webapp:order_create' %}" class="nav-link">Добавить заказ</a></li>
            {% endif %}
            {% block menu %}{% endblock %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#statsModal" class="nav-link" data-toggle="modal" data-target="#statsModal">
                Статистика
            </a></li>
            <li class="nav-item"><a href="{% url 'webapp:basket' %}" class="nav-link">
                Корзина ({{ request.session.products_count|default:0 }})
            </a></li>
            <li class="nav-item dropdown">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% get_language_info for LANGUAGE_CODE as current_language %}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">{{ current_language.name_local }}</a>
                <div class="dropdown-menu">
                    {% for language in languages %}
                        <a class="dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                           href="{% if language.code != default_language %}/{{ language.code }}{% endif %}{{ language_base_link }}">
                            {{ language.name_local }} ({{ language.code }})
                        </a>
                    {% endfor %}
                </div>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'accounts:detail' request.user.pk %}" class="nav-link">
                    Привет, {{ request.user.username }}!
                </a></li>
                <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Выход</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'accounts:create' %}" class="nav-link">Регистрация</a></li>
                <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Вход</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container mt-3 mb-3">
    {% include 'partial/messages.html' %}
    {% block content %}{% endblock %}

    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statsModalLabel">Статистика</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Вы посетили страницы:</h4>
                    <ul>
                        {% for page, count in visits.items %}
                            <li>{{ page }}: {{ count }} раз(а)</li>
                        {% endfor %}
                    </ul>
                    <p>Всего {{ visits_total }} посещений(я).</p>

                    <h4>Вы провели на сайте:</h4>
                    <ul>
                        {% for page, count in times.items %}
                            <li>{{ page }}: {{ count|stringformat:".2f" }} cекунд(ы)</li>
                        {% endfor %}
                    </ul>
                    <p>Всего {{ times_total|stringformat:".2f" }} секунд(ы)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
