{% extends 'base.html' %}
{% load i18n %}
{% block title %}Товары{% endblock %}
{% block content %}
    <h1 class="text-center">Товары</h1>
    <div class="row">
        {% for product in product_list %}
            <div class="col col-3">
                {% include "partial/product_card.html" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
